<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todos</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>{{user.username}}'s todos</h1>
        <br><br>
        <section>list all todos here</section>
        <ul>
            <ol>
                {% for t in alltodos %}
                <li>
                    <a href="/todo/{{ t.id }}">
                    {% if t.isImportant %}<b>{% endif %}
                    ({{t.dateCreated}}) {{ t.title }}
                    {% if t.isImportant %}</b>{% endif %}
                    {% if t.description %} : {{ t.description }}{% endif %}
                    </a>
                </li>
                {% endfor %}
            </ol>
        </ul>

        <form action="{% url 'logoutuser' %}" method='post'>
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="#">login</a>
        <a href="register">register</a>
    {% endif %}

</body>
</html>