<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update My Todo</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Update todo {{todo.title}}</h1>
        <br><br> 
        <h3>{{errMsg}}</h3>
        <form action="#" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">UPDATE TODO</button>
        </form>
        <br><br> 
        <form action="{% url 'donetodo' todo.id %}" method='post'>
            {% csrf_token %}
            <button type="submit">Task Completed</button>
        </form>
        <br><br> 
        <form action="{% url 'deletetodo' todo.id %}" method='post'>
            {% csrf_token %}
            <button type="submit">Delete Task</button>
        </form>
        <br><br> 

        <form action="{% url 'logoutuser' %}" method='post'>
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="#">login</a>
        <a href="register">register</a>
    {% endif %}

</body>
</html>